#Inference Engines & LLM Support
llama-cpp-python==0.2.90
whisper-cpp-python==0.1.1

#Hugging Face & PyTorch Ecosystem
torch==2.4.0
transformers==4.44.2
sentence-transformers==3.0.1
huggingface-hub==0.24.6

#Vector Database
chromadb==0.5.5

#Edge Frontend UI
streamlit==1.38.0

#Data Processing & Types
pydantic==2.8.2
numpy==1.26.4